@import 'base/variables';

@font-face {
    font-family: 'Museo Sans';
    src: url('MuseoSansCyrl-300.eot');
    src: url('MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-300.woff') format('woff'),
    url('MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans';
    src: url('MuseoSansCyrl-500.eot');
    src: url('MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-500.woff') format('woff'),
    url('MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans';
    src: url('MuseoSansCyrl-700.eot');
    src: url('MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-700.woff') format('woff'),
    url('MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans';
    src: url('../../fonts/MuseoSansCyrl-900.eot');
    src: url('../../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/MuseoSansCyrl-900.woff') format('woff'),
    url('../../fonts/MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    }

* {
    font-family: 'Museo Sans', sans-serif;
}
h1,h2{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/features';